APP_ENV=dev
APP_DEBUG=1

NGINX_PORT=8080
ENGINE_PORT=8000
POSTGRES_PORT=5432
REDIS_PORT=6379
MERCURE_PORT=3000
MAILPIT_SMTP_PORT=1025
MAILPIT_WEB_PORT=8025

POSTGRES_DB=clubscheduler
POSTGRES_USER=clubscheduler
POSTGRES_PASSWORD=clubscheduler_dev_password
